/* root */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --font-family: "Roboto", sans-serif;

  --primary-Orange: hsl(26, 100%, 55%);
  --primary-Pale-orange: hsl(25, 100%, 94%);

  --Neutral-Very-vark-blue: hsl(220, 13%, 13%);
  --Neutral-Dark-grayish-blue: hsl(219, 9%, 45%);
  --Neutral-Grayish-blue: hsl(220, 14%, 75%);
  --Neutral-Light-grayish-blue: hsl(223, 64%, 98%);
  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-black-with-75opacity: hsl(0, 0%, 0%);
}
/* body */

body {
  color: black;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

p {
  font-size: 16px;
  color: var(--Neutral-Dark-grayish-blue);
}
img:not(nav img) {
  border-radius: 8px;
}

.prev2,
.close2,
.next2 {
  display: none;
}

#ulspan img {
  display: none;
}

nav img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 3px solid #e5e1e1;
  max-height: 30px;
}

#nav-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

#menu {
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: var(--Neutral-Dark-grayish-blue);
  column-gap: 2rem;
}

ul li {
  margin-right: 1rem;
}

ul li:hover::after {
  content: "";
  position: absolute;
  top: 100px;
  width: 70px;
  transform: translateX(-80%);
  border-bottom: 3px solid var(--primary-Orange);
}
ul li:hover {
  color: black;
  cursor: pointer;
}

#nav-right {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
}

#img-hero {
  width: 38px;
}

#img-hero:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 100%;
}

@media (max-width: 660px) {
  nav {
    padding-bottom: 0;
  }
  nav ul {
    display: none;
  }
  #menu {
    display: block;
  }
}
/* body  */
.photos {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.pic {
  height: 441px;
  width: 479px;
}
.pic img {
  width: 100%;
  height: 100%;
}
.thumbnails {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}
.main-img {
  display: flex;
}
.main-img img {
  height: 100%;
}

.thumbnails img {
  height: 100px;
}

.thumbnails img:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media (max-width: 560px) {
  .pic {
    width: auto;
    height: auto;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  /* gap: 100px; */
  row-gap: 100px;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  top: -191px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  padding: 16px;
  margin-top: -50px;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: -444px;
}

.prev {
  left: -28px;
}

.prev:hover,
.next:hover {
  color: var(--primary-Orange);
}

@media (max-width: 900px) {
  .main {
    column-gap: 1rem;
  }
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
    row-gap: 2rem;
  }

  .thumbnails {
    display: none;
  }
  .main-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .prev2,
  .next2 {
    display: block;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 16px;
    margin-top: -50px;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 100%;
    user-select: none;
    -webkit-user-select: none;
  }

  .next2 {
    right: 0px;
  }

  .prev2 {
    left: -500px;
  }
}
.text-col {
}

#highlight {
  color: var(--primary-Orange);
  font-weight: 400;
  text-transform: uppercase;
}

.text-col h1 {
  margin-top: 2rem;
  font-weight: 700;
}

.text-col p {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.text-col h2 {
  font-weight: 700;
}

#price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#price small {
  margin-left: 2rem;
  color: var(--primary-Orange);
  background-color: var(--primary-Pale-orange);
}

#old-price {
  color: var(--Neutral-Grayish-blue);
  text-decoration: line-through;
  font-weight: 400;
  font-size: 16px;
  margin-top: 1rem;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
  column-gap: 2rem;
}

#plus,
#deleteOne {
  color: var(--primary-Orange);
}

.text-col button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-col button:hover {
  cursor: pointer;
  opacity: 0.7;
}

#addToCart {
  color: white;
  background-color: var(--primary-Orange);
  border-radius: 8px;
  height: 53px;
  width: 70%;
  min-width: 200px;
  justify-content: center;
  align-items: center;
}

#addToCart img {
  padding-right: 5px;
}

@media (max-width: 800px) {
}
